@charset "UTF-8";

body{

    background-color: rgba(28, 163, 16, 0.671);
    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.goleiro {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

ul {
    color: white;
}

a:visited {
    color: black;
}